*.suo
*.user
_ReSharper.*
.vs
bin
obj
Release
packages
GamePaths.xml
/Reference assets
Assets/Combined.pdn
Assets/DemonEmblem1.png
Assets/DemonEmblem2.png
Assets/DemonEmblem3.png
Assets/DemonStoneOld.png
Assets/DemonStoneOld2.png
Assets/FireDemonWingsOld.pdn
Assets/full.pdn
Assets/i354.png
Assets/i87.png
Assets/i902.png
Assets/Monkey.pdn
Assets/Recipes.pdn
Assets/ShadowFabric10.png
Assets/ShadowFabric11.png
Assets/ShadowFabric13.png
Assets/ShadowFabric2.png
Assets/ShadowFabric3.png
Assets/ShadowFabric4.png
Assets/ShadowFabric5.png
Assets/ShadowFabric6.png
Assets/ShadowFabric7.png
Assets/ShadowFabric9.png
Assets/SoulShield2.png
Assets/SoulWisp2.png
Assets/SoulWisp3.png
Assets/SoulWisp4.png
Assets/SoulWisp5.png
/Assets/Upscaled for wiki
